<div class="display">
    <h1>User Details!</h1>
    <br/><br/>
    <div class="container">
        <div class="row">
            <h4>{{accessJSON.firstname}}</h4>
        </div>
            <div class="row">
                Email: {{accessJSON.email}}
            </div>
            <div class="row">
                Address: {{accessJSON.address}}
            </div>
            <div class="row">
                City: {{accessJSON.city}}
            </div>
            <div class="row">
                Zip: {{accessJSON.zip}}
            </div>
    </div>
</div>
