p.headline{
    font-size: 3em;
    text-align: center;
    background-color: #bbb;
    padding: 2em;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
  }
  
  p{
    font-size: 1em;
  }
  
  div.paragraph
  {
    font-family: 'Gill Sans';
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.1em;
  }